@using Camping.App_GlobalResources
@model Camping.ViewModels.EditPasswordViewModel
@{
    ViewBag.Title = @Resource.EditPassword;
}

<div>
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <!-- container -->
        <div class="container">
            <div class="faqs-top-grids">
                <div class="book-grids">
                    <div class="col-md-3 book-left">

                    </div>
                    <div class="col-md-6 book-left">
                        <div class="book-left-info">
                            <h2>@Resource.EditPassword</h2>
                        </div>
                        <div class="book-left-form">
                            @using (Html.BeginForm("EditPassword", "Profile", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @placeholder = Resource.Password} })
                                <p>@Html.ValidationMessageFor(model => model.Password, "", new {@class = ""})</p>
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @type = "password", @placeholder = Resource.NewPasswor} })
                                <p>@Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = ""})</p>
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @type = "password", @placeholder = Resource.ConfirmPassword} })
                                <p>@Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new {@class = ""})</p>

                                <input type="submit" id="login" value="@Resource.Edit"/>
                            }
                        </div>
                    </div>
                    <div class="col-md-3 book-right">

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner-bottom -->
</div>

