@using Camping.App_GlobalResources
@model Camping.ViewModels.ServicePageViewModel

@{
    ViewBag.Title = @Model.Name;
}

<!-- banner-bottom -->
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <div class="faqs-top-grids">
            <div class="blog-grids">
                <div class="col-md-8 blog-left">
                    <div class="blog-left-grid single-left-grid">
                        <div class="single-pg-hdr">
                            <h2>@Model.Name</h2>
                            <p>@Model.Type</p>
                            <p>Jump to: <a href="#">Over View</a>|<a href="#">Room Choices</a>|<a href="#">Hotel Information</a></p>
                        </div>
                        <div class="flexslider">
                            @Html.Partial("SlidesServicePage", Model.Photos)
                        </div>
                        <!-- FlexSlider -->
                        <script type="text/javascript">
 $(function(){
			SyntaxHighlighter.all();
			});
			$(window).load(function(){
			$('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			$('body').removeClass('loading');
			}
			});
		});
                        </script>

                        <div class="blog-left-right">
                            <p>
                                @Model.Description
                            </p>
                            <p>
                                @Model.Description
                            </p>
                        </div>

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <div class="opinion">
                                <h3>@Resource.AddComment</h3>
                                @using (Html.BeginForm("AddComment", "Service", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => Model.Id)
                                    @Html.HiddenFor(model => Model.IdUserInSystem)
                                    @Html.TextAreaFor(model => model.NewComment, new {@placeholder = Resource.Comment, @rows = "3"})
                                    <input type="submit" value= @Resource.Add>
                                }
                            </div>
                        }
                        


                        @Html.Partial("Comments", Model.Comments)

                        
                        
                    </div>
                </div>
                <div class="col-md-4 single-gd-rt">
                    <div class="spl-btn">
                        <div class="spl-btn-bor">
                            <a href="#">
                                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                            </a>
                            <p>Special Offer</p>
                            <script>
										$(document).ready(function(){
										$('[data-toggle="tooltip"]').tooltip();
										});
                            </script>
                        </div>
                        <div class="sp-bor-btn text-right">
                            <h4>@Model.Price</h4>
                            <a class="best-btn" href="booking.html">Book Now</a>
                        </div>
                    </div>
                    <br>
                    <div class="other-comments">
                        <div class="comments-head">
                            <h3>@Resource.Rating</h3>
                            <p>@Model.Rating/5</p>
                            <div class="clearfix"></div>
                        </div>                       
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //banner-bottom -->

