@using Camping.App_GlobalResources
@model Camping.ViewModels.ServicePageViewModel
@{ long userInSystem = Convert.ToInt64(Session["UserId"]);}
@{
    ViewBag.Title = @Model.Name;
}

<!-- banner-bottom -->
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <div class="faqs-top-grids">
            <div class="blog-grids">
                <div class="col-md-8 blog-left">
                    <div class="blog-left-grid single-left-grid">
                        <div class="single-pg-hdr">
                            <h2>@Model.Name</h2>
                            <p>
                                <h3>@Model.Type</h3>
                            </p>
                        </div>
                        <div class="flexslider">
                            @Html.Partial("SlidesServicePage", Model.Photos)
                        </div>
                        <!-- FlexSlider -->


                        <div class="blog-left-right">
                            <p>
                                @Model.Description
                            </p>
                        </div>

                        @if (HttpContext.Current.User.Identity.IsAuthenticated && userInSystem == 1)
                        {
                            <div class="opinion">
                                <br/><h3>@Resource.AddPhoto</h3>
                                @using (Html.BeginForm("AddPhotoService", "Service", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => Model.Id)
                                    <input type="file" id="NewPhoto" name="upload"/>
                                    <input type="submit" value=@Resource.Add>
                                }
                            </div>                           
                        }

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <div class="opinion">
                                <br/><h3>@Resource.AddComment</h3>
                                @using (Html.BeginForm("AddComment", "Service", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => Model.Id)
                                    @Html.HiddenFor(model => Model.IdUserInSystem)
                                    @Html.TextAreaFor(model => model.NewComment, new { @autocomplete = "off", @placeholder = Resource.Comment, @rows = "3"})
                                    <input type="submit" value= @Resource.Add>
                                }
                            </div>
                        }
                        
                        @Html.Partial("Comments", Model.Comments)                        
                        
                    </div>
                </div>
                <div class="col-md-4 single-gd-rt">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div class="spl-btn-bor">
                            @using (Html.BeginForm("NewOrder", "Profile", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.Id)
                                @Html.HiddenFor(model => Model.IdUserInSystem)                              
                                <h5>@Resource.DateStart</h5>
                                <div class="book_date">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    @Html.TextBoxFor(model => model.NewOrder.DateStart, new {type = "date"})
                                </div>
                                <br/><h5>@Resource.DateEnd</h5>
                                <div class="book_date">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    @Html.TextBoxFor(model => model.NewOrder.DateEnd, new {type = "date"})
                                </div>
                                <br/><h5>@Resource.ClientsAmount</h5>
                                @Html.TextBoxFor(model => model.NewOrder.ClientsAmount, new {type = "number", min = "1", max = @Model.ClientMax, style = "width: 100%"})
                                <br /><br /><input type="submit" value=@Resource.Add > 
                            }
                        </div>
                    }

                    <br>
                    <div class="other-comments">
                        <div class="comments-head">
                            <h3>@Resource.Price</h3>
                            <p>$@Model.Price</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="comments-head">
                            <h3>@Resource.Rating</h3>
                            <p>@Model.Rating/5</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="comments-head">
                            <h3>@Resource.ClientMax</h3>
                            <p>@Model.ClientMax</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="comments-head">
                            <h3>@Resource.Prepaymant</h3>
                            <p>@Model.Prepaymant</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="other-comments">
                        @using (Html.BeginForm("NewRating", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.Id)
                            <div class="h-class">
                                <br /><h5> @Html.RadioButtonFor(model => model.NewRating, "1", null) @Resource.Rating : 1</h5>
                                <h5> @Html.RadioButtonFor(model => model.NewRating, "2", null) @Resource.Rating : 2</h5>
                                <h5> @Html.RadioButtonFor(model => model.NewRating, "3", null) @Resource.Rating : 3</h5>
                                <h5> @Html.RadioButtonFor(model => model.NewRating, "4", null) @Resource.Rating : 4</h5>
                                <h5> @Html.RadioButtonFor(model => model.NewRating, "5", null) @Resource.Rating : 5</h5>
                                <br /><br /><input type="submit" value=@Resource.Estimate>
                            </div>
                        }

                        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //banner-bottom -->

